@font-face {
  font-family: 'Uk_Antique';
  src:  url('assets/Uk_Antique.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

pre {
    font-family: 'Uk_Antique';
}

img {
  max-height: 350px;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 768px; 
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}

.big-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 1.5rem;
    border-radius: 30px; 
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.big-button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }
}
